{% load static %}
{% static "images" as statimgsrc %}
<!DOCTYPE>
<html lang="en">

<head>
{% block header %}

{% endblock %}
</head>

<body>

    {% block others %}

    {% endblock %}




    {% block base %}
    <div>     
    <br/> <br/>
            <div>
                
                    
                    {% if request.user.is_authenticated %}
                    <p>
                    <a href="/accounts/my_profile/" >
                        <button type="button"> {{ request.user.username }} </button>
                    </a></p>
                    
                    <p>
                        <a href="/accounts/home/">
                            <button type="button"> Home </button>
                        </a>
                    </p>

                    <p>
                    <a href="/accounts/logout/">
                        <button type="button" > Log Out </button>
                    </a>
                    </p>

                    {% else %}


                    <p>
                        <a href="/accounts/login/">
                            <button type="button" >
                                <p2>Login</p2>
                            </button>
                        </a>
                    </p>
                    or
                    <p>
                        <a href="/accounts/register/">
                            <button type="button" >
                                <p2>Register</p2>
                            </button>
                        </a>
                    </p>

                    {% endif %}
                    
                
            </div>
    </div>

    {% endblock %}

</body>
</html>