
{% extends "base.html"  %}

{% block header %}

<title>Home</title>

{% endblock %}

{% block others %}



<div>
    <h3>My Feeds</h3>
    
    <a href="/residence/my_house/">
        <button type="button" style="font-family: Ubuntu;">My Houses</button>
    </a>
    <br><br><br>
    <a href="/residence/my_booking/">
        <button type="button" style="font-family: Ubuntu;">My Bookings</button>
    </a>
    <br><br><br>

    <a href="/residence/go_to_cart/">
        <button type="button">My Cart</button>
    </a>

    <p>
    <a href="/residence/search_vacancy/">
        <button type="button">Search Vacancy</button>
    </a>
    </p>





</div>    


{% endblock %}


