{% extends 'base.html' %}



{% block header %}
<title>Profile</title>
{% endblock %}

{% block others %}




<div>
    
    <h1><i>{{ user_detail.username }} </i></h1>
    <br> <br> <br>
    <ul>
        
        <li>
            Name: {{ user_detail.name }}
            <a href="/accounts/update_name/"> <button id="update_name"> Update </button>  </a> 
        </li>

        <li>
            <p>
                Email: {{ user_detail.mail }}
            <a href="/accounts/update_mail/" > <button> Update </button> </a> 
        </p>
        </li>
        <li>
            <i></i>Mobile No: {{ user_detail.mobile }}
            <a href="/accounts/update_mobile/" > <button> Update </button> </a>
        </li>
        <li>
            <p><i></i>National ID: {{ user_detail.nid }}</p>
        </li>
        <li>
            <p><i></i>Country: {{ user_detail.country }}</p>
        </li>
            
        
    </ul>
    <br>
    {% if request.user.is_authenticated and  request.user.username == user_detail.username %}
    <div class="row">


        <p>
            <a href="/accounts/change_password/"><button type="button"> Change Password </button></a>
        </p>
        
    </div>
    {% endif %}

</div>


{% endblock %}