


{% block header %}

<title>Register</title>

{% endblock %}


{% block content_2 %}
 
<div>
    <div>
        <div>
            <div>
                <span>
                    Sign In
                </span>
            </div>

            

            <div>
                Already Have an Account? &nbsp; <a href="/accounts/login/">Login!</a>
            </div>

        </div>
    </div>
</div>


<div>
    <form id="form" method="post" enctype="multipart/form-data" load-city="/search/ajax/load_city/" novalidate>
        {% csrf_token %}
        {{ form }}
        <br>
        <div class="text-right">
            <button type="submit" >Sign Up</button>
        </div>
    </form>
    
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_country").change(function () {

        var url = $("#form").attr("load-city");
        var country_id = $(this).val();
        // document.getElementById("hi").innerHTML = url;
        $.ajax({
            url: url,
            data: { 'country': country_id },
            success: function (hati) {
                $("#id_city").html(hati);
            }
        });
    });
</script>



{% endblock content_2 %}
